@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap');
/**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    overflow: hidden;
    min-height: 100vh;
    background: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card {
    width: 325px;
    height: 540px;
    background: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 7px;
}
#card a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
#card a:hover {
    color: hsl(178, 100%, 50%);
}
#card-container {
    position: relative;
}
#card-container:hover {
    width: 100%;
    background: hsl(178, 100%, 50%);
    border-radius: 7px;
}
#nft-image {
    width: 285px;
    border-radius: 7px;
    opacity: 1;
    display: block;
    backface-visibility: hidden;
}
#card-container:hover #nft-image{
    opacity: 0.5;
}
#card-container:hover #icon-view{
    opacity: 1;
}
#icon-view {
    width: 285px;
    height: 285px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    border-radius: 7px;
    top: -50%;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}
#card-description {
    margin-top: 16px;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}
#price-days {
    font-size: 15px;
    margin: 22px 0;
    display: flex;
    justify-content: space-between;
}
#price-container {
    display: flex;
}
#price-container img {
    width: 10px;
}
#price {
    color: hsl(178, 100%, 50%);
    margin-left: 5px;
}
#days {
    color: hsl(215, 51%, 70%);
    margin-left: 5px;
}
#days-container {
    display: flex;
}
#days-container img {
    width: 18px;
    height: 18px;
}
#card-footer {
    display: flex;
    padding: 16px 0 10px 0;
    border-top: 1px solid hsl(216, 39%, 22%);
    align-items: center;
}
#card-footer img {
    width: 32px;
    border-radius: 100%;
    border: 1.5px solid hsl(0, 0%, 100%);
}
#card-footer p {
    margin-left: 15px;
    color: hsl(0, 0%, 100%);;
}
#card-footer p span{
    color: hsl(215, 51%, 70%);
}
.attribution { 
    font-size: 9px; 
    text-align: center;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 375px) and (max-width:990px) {
    .attribution {
        width: 345px;
    }
}